<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Task Management App"/>
		<meta name="keywords" content="task manager app"/>
		<meta name="viewport" content="width=device-width" />
		<title>{% block title %} Home {% endblock title %} || Task Manager</title>
		<!-- Bootstrap CSS -->
		<link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
		<style>
			.checkbox-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
				gap: 10px;
			}
			.checkbox-grid .form-check {
				display: block;
			}
		</style>
	</head>
	<body class="container">
		<nav>
			<ul>
				<li><a href="{% url 'task:add_task_form' %}">Add Tasks</a></li>
				<li><a href="{% url 'category:add_category_form' %}">Categories</a></li>
				<li><a href="{% url 'task:show_tasks' %}">Show Tasks</a></li>
			</ul>
		</nav>
		{% block content %}
		<!-- All the Content Goes Here -->
		{% endblock content %}

		<!-- Scripts Section -->
		<!-- Bootstrap Related -->
		<script src="{% static "js/bootstrap/popper.min.js" %}"></script>
		<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
	</body>
</html>
